body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

#mainBodyInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    width: 50rem;
    background-color: rgb(179, 179, 179);
}

#Logo {
    max-width: 20rem;
}

#stephen {
    max-width: 24rem;
    max-height: 27rem;
    padding: 1rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(0, 0, 0);
}

h1 {
    color: rgb(59, 59, 59);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 4rem;
}

#petitionLink {
    color: rgb(250, 250, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    background-color: rgb(165, 0, 0);
    padding: 2rem;
    border-radius: 5rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

@media (max-width: 590px) {

    h1 {
        display: none;
    }

    #petitionLink {
        margin: 5rem 0rem 5rem 0rem;
    }

    #mainBodyInfo {
        display: flex;
        flex-direction: column-reverse;
        max-width: 25rem;
    }
}